.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  .card-container img {
      height: 180px;
      width: 100%;
  }
  .card-container h2 {
    padding: 0px;
}
  .card-container .rating{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  .card-container .price
  {
    display: flex;
    justify-content: space-between;
  }

  .card-container .description{
    flex-grow: 1;
  }

  .modalHeader {
    display: flex;
  }